VITE_CLERK_PUBLISHABLE_KEY=pk_test_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
CLERK_ISSUER=https://<your-instance>.clerk.accounts.dev/
CLERK_AUTHORIZED_PARTIES=http://localhost:5173,http://localhost:80
RESEND_API_KEY=xxx